@media only screen and (max-width: 992px) {
    /* Home start ==================================================== */
    #home .container nav .menu{
        display: none;
    }
    .fa-align-justify{
        display: block;
    }
    /*  */
    #home-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #home-content .col-lg-6:nth-child(1){
        margin-bottom: 1em;
    }
    #home-content .col-lg-6:nth-child(2) h1{
        font-size: 2em;
    }
    #home-content .col-lg-6:nth-child(2) a{
        margin-bottom: 1.5em;
    }
    /* Home end ==================================================== */
    /* Service start =============================================== */
    #service .container .row .col-lg-6{
        display: flex;
        align-items: center;
        
    }
    /* Service end =============================================== */
    /* Third section start ====================================== */
    #third .green{
        min-height: 12em;
    }
    #third .green .container{
        min-height: fit-content ;
    }
    .cycle-responsive{
        display: block;
        margin: auto;
    }
    .cycle{
        display: none;
    }
    .green{
        position: relative;
    }
    .green .container .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .green .container .row .col-lg-6:nth-child(1){
        margin-bottom: .6em;
    }
    .green .container .row .col-lg-6 h2{
        font-size: 1.4em;
        text-align: center;
    }
    .green .f{
        display: none;
    }
    #third .container .one{
        display: flex;
        justify-content: center;
    }
    #third .container .one .col-lg-6{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em 0;
    }
    #third .container .one .col-lg-6 p{
        text-align: justify;
    }
    #third .container .two{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #third .container .two .col-lg-3{
        width: 15em;
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #third .container .two .col-lg-3 p{
        text-align: justify;
    }
    /* Third section end ======================================== */
    /* fourth start */
    #fourth .container .row{
        display: flex;
        justify-content: center;
    }
    #fourth .container .row .col-lg-6:nth-child(2){
        padding-right: 8px;
    } 
    /* fourth  end */
    /* subscribe start */
    #subscribe .container .row .col-lg-6:nth-child(1){
        padding: 2em 0;
    }
    #subscribe .container .row .col-lg-6:nth-child(1) h2{
        text-align: center;
    }
    #subscribe .container .row .col-lg-6:nth-child(1) form{
        text-align: center;
        padding: 1em 0;
    }
    #subscribe .container .row .col-lg-6:nth-child(2) img{
        position: relative;
    }
    /* subscribe end */
    /* team start=================================== */
    #team .container .row .col-lg-6:nth-child(1) h2{
        text-align: center;
    }
    #team .container .row .col-lg-6:nth-child(2){
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1em;
    }
    #team .container .row:nth-child(1){
        margin: 1em 0;
    }
    #team .container .row:nth-child(2) .col-lg-4{
        margin: 1em;
    }
    #team .container .row:nth-child(2) .col-lg-4:last-child{
        margin-bottom: 2em;
    }
    /* team end ======================================= */
    /* footer start ===================================*/
    footer .container .row:nth-child(1) .col-lg-2{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 1em;
    } 
    footer .container .row:nth-child(1) .col-lg-2 h6{
        color: rgb(211, 148, 13);
        margin-bottom: 1em;
    }
    footer .container .row:nth-child(2) .col-sm-12{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer .container .row:nth-child(2) .col-sm-12 a{
        margin-left: 5%;
        font-size: .9em;
    }
    footer .container .row:nth-child(2) .col-sm-12 a:nth-child(1){
        margin-left: 0;
    }
    footer .container .row:nth-child(3) .col-sm-12 img{
        margin: 1em 0;
    }
    footer .container .row:nth-child(3) .f{
        position: absolute;
        left: -10%;
        top: 30%;
        height: auto;
        width: 8em;
    }
    footer .container .row:nth-child(4) .col-lg-12 .sn{
        position: absolute;
        top: -205%;
        right: 0%;
    }
    footer .container .row:nth-child(4){
        margin-top: 3em;
    }
    footer .container .row:nth-child(4) .col-lg-12 p ,footer .container .row:nth-child(4) .col-lg-12 a{
        font-size: .7em;
    }
    /* footer end =================================== */
}
@media only screen and (min-width: 992px) {
    /* Third start */
    #third .cycle{
        height: 80%;
        top: 19%;
        left: 50%;
        transform: translate(-50% , -50%);
    }
    /* third end */
}